* {
  box-sizing: border-box;
}

html {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

body {
  background-color: #f9f9f9;
  margin: 0;
}

ul li {
  list-style: none;
}

.showOff {
  opacity: 0;
  pointer-events: none;
  position: absolute;
}

header {
  display: flex;
  width: 100%;
  justify-content: center;
}

.title {
  display: flex;
  text-align: center;
  padding: 10px 20px;
  font-size: 2rem;
  color: rgb(173, 33, 47);
}
